<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div align="center">
        <h2>We are Symmetry Health Services LLC</h2>
        <h2>For IT122 Assignment 1 By Brian St Louis</h2>
<br>
<a href="/">Back to home</a>

    </div>
</body>
</html>
