<!-- /public/detail.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Vintage Bike Info</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>

 <div align="center">
<h1>Vintage Motocross</h1>
<div>
  <h2><%= item.brand %></h2>
  <p><%= item.model %></p>
  <p><%= item.year %></p>
  <p><%= item.color %></p>
</div>
<a href="/">Back to home</a>
 </div>
</body>
</html>
