<!-- /public/detail.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Vintage Motorcycle Info</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>

 <div align="center">
<h1>Vintage Motocross</h1>
<div>
  <h2>Brand: <%= item.brand %></h2>
  <p>Model: <%= item.model %></p>
  <p>Year: <%= item.year %></p>
  <p>Color: <%= item.color %></p>
</div>
<a href="/">Back to home</a>
 </div>
</body>
</html>
