<!DOCTYPE html>
<html>
<head>
    <title>Vintage Motorcycles</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>

<body>
    <div id="main-wrapper">
        <div>
            <div id="root"></div>
            
            <script type="text/babel">
                const motorcycles = [
                    {"brand": "Macio", "model": "MC400", "year": "1976", "color": "Red"},
                    {"brand": "Honda", "model": "CR250M", "year": "1977", "color": "Red"},
                    {"brand": "Suzuki", "model": "TM400", "year": "1974", "color": "Yellow"},
                    {"brand": "Husquvarna", "model": "125CR", "year": "1974", "color": "Orange"},
                    {"brand": "Yamaha", "model": "YZ250", "year": "1975", "color": "Yellow"},
                    {"brand": "Hodaka", "model": "Super Rat", "year": "1970", "color": "Silver"},
                ]

                const ListItem = ({ item, clickHandler }) => <li onClick={() => clickHandler(item)}>{item.brand}</li>

                const ListItems = ({ items, clickHandler }) => {
                    return <ul>{items.map(item => <ListItem key={item.brand} item={item} clickHandler={clickHandler} />)}</ul>
                }

                const Detail = (props) => {
                    return (
                        <div>
                            <h3>Motorcycle Details</h3>
                            {props.item &&
                                <form>
                                    <div>
                                        <b>Brand</b>: &nbsp;<input type="text" name="brand" onChange={props.changeHandler} value={props.item.brand || ''} />
                                    </div>
                                    <div>
                                        <b>Model</b>: &nbsp;<input type="text" name="model" onChange={props.changeHandler} value={props.item.model || ''} />
                                    </div>
                                    <div>
                                        <b>Year</b>: &nbsp; &nbsp; <input type="text" name="year" onChange={props.changeHandler} value={props.item.year || ''} />
                                    </div>
                                    <div>
                                        <b>Color</b>: &nbsp;   <input type="text" name="color" onChange={props.changeHandler} value={props.item.color || ''} />
                                    </div>
                                    <div>
                                    <br/>
                                        &nbsp; &nbsp; <button type="button" onClick={props.saveChanges}>Save changes</button> &nbsp;
                                        <button type="button" onClick={props.clearForm}>Clear form</button> 
                                    </div>
                                </form>
                            }
                        </div>
                    )                       
                }

                const MyApp = () => {
                    const [items, setItems] = React.useState(motorcycles);
                    const [selectedItem, setSelectedItem] = React.useState();
                    const [editedItem, setEditedItem] = React.useState();

                    const itemClicked = (item) => {
                        setSelectedItem({...item});
                        setEditedItem({...item});
                    }

                    const itemChanged = (e) => {
                        setEditedItem({
                            ...editedItem,
                            [e.target.name]: e.target.value
                        });
                    }

                    const saveChanges = () => {
                        setItems(items.map(item => item.brand === selectedItem.brand ? editedItem : item));
                    }

                    const clearForm = () => {
                        setEditedItem({});
                    }

                    return (
                        <div>  
                            <h2>Vintage Motocross Bikes!</h2>    
                            <ListItems items={items} clickHandler={itemClicked} />
                            <hr />
                            <Detail item={editedItem} changeHandler={itemChanged} saveChanges={saveChanges} clearForm={clearForm} />
                        </div>
                    )
                }

                ReactDOM.render(<MyApp />, document.getElementById('root'));
            </script>

        </div>
    </div>
</body>
</html>
