<html>
<head>
    <title>Vintage Motorcycles</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
   
</head>

<body>

	<div class="wrapper">
        <div style="margin-left: 8em">

    <div id="root"></div>
    
    <script type="text/babel">
        const itemsData = JSON.parse('<%- JSON.stringify(data) %>');
    
        // Item component
        const Item = ({ brand }) => <li><a href={`/detail?brand=${brand}`}>{brand}</a></li>;
    
        // Items List component
        const ItemsList = ({ items }) => (
            <ul>
                {items.map(item => <Item key={item.brand} {...item} />)}
            </ul>
        );
    
        const App = () => (
            <div style={{ marginleft: "12em" }}>
                <h1> Vintage Motocross</h1>
                <ItemsList items={itemsData} />
                {/* Add other functionalities here */}
            </div>
        );
    
        ReactDOM.render(<App />, document.getElementById('root'));
    </script>
    </div>
    </div>
    
</body>
</html>
