<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
    <div>
    <h1>Home</h1>
    <ul>
        <% data.forEach(item => { %>
            <li>
                <a href="/detail?brand=<%= item.brand %>"><%= item.brand %></a>
            </li>
        <% }); %>
    </ul>
    </div>
</body>
</html>
